# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment files
.env

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store